<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>718670365739-v7074auhof41hnpsra60i3ar345driip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.718670365739-v7074auhof41hnpsra60i3ar345driip</string>
	<key>API_KEY</key>
	<string>AIzaSyDjLDvoXjYT6f1TPRo_YQB4op3x09C8Xeo</string>
	<key>GCM_SENDER_ID</key>
	<string>718670365739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reps</string>
	<key>PROJECT_ID</key>
	<string>reps-7a88c</string>
	<key>STORAGE_BUCKET</key>
	<string>reps-7a88c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718670365739:ios:9ab839d810e3e280ca566e</string>
</dict>
</plist>